body{
text-align: center;
background-color: #white;
font-family:arial,sans Serif;
font-size:18px;
color: #011;
}
.top{
margin-top: 400px;
position: -webkit-sticky;
position: sticky;
top: 20px;
}
.one{
z-index:2;
}
.potsi{
color: blue;
}
.piri{
color: red;
}
.tatu{
color: green;
}
.flying{
margin-left:30px;
argin-top: 300px;
position: -webkit-sticky;
position: sticky;
top: 20px;
z-index: 0;
}

